<div class="authincation h-100">
    <div class="container vh-100">
      <div class="row justify-content-center h-100 align-items-center">
        <div class="col-lg-6 col-md-8">
          <div class="authincation-content">
            <div class="row no-gutters">
              <div class="col-xl-12">
                <div class="auth-form  d-flex flex-column">
                 
                  <h4 class="text-center mb-4">Formulaire d'ajout d'un post</h4>
                  <form [formGroup]="postForm">
                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="id" placeholder="id">
                    </div>
                    
                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="title" placeholder="title">
                    </div>
                
                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="body" placeholder="body">
                    </div>
                      
                    <div class="form-group">
                      <input type="tel" class="form-control" formControlName="userId" placeholder=" UserId">
                    </div>
                    

                    
                    <div class="text-center mt-4">
                      <button type="submit" (click)="addPost()"
                              class="btn btn-primary btn-block">Ajouter
                      </button>
                    </div>
                  </form>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  