<h1></h1>
<div class="content-body">
    <div class="container-fluid" style="width: 80%;">
      <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
          <div class="welcome-text">
            <h4>Liste des posts :</h4>
          </div>
        </div>
  
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-responsive-lg mb-0 table-striped">
                  <thead>
                  <tr>
                    <th>UserId</th>
                    <th>Id</th>
                    <th>title</th>
                    <th>body</th>
                    <th>delete</th>
                  </tr>
                  </thead>
                  <tbody id="customers">
                  <tr class="btn-reveal-trigger" *ngFor="let p of posts">
                    <td class="py-2">{{p.userId}}</td>
                    <td class="py-2">{{p.id}}</td>
                    <td class="py-2">{{p.title}} </td>
                    <td class="py-2">{{p.body}} </td>
                    <td class="py-2"> <button (click)="deletePost(p.id)">Delete</button></td>

                  </tr>
                  </tbody>
                </table>
                <br>
                <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="content-body">
    <div class="container-fluid" style="width: 80%;">
      <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
          <div class="welcome-text">
            <h4>get posts by id :</h4>
          </div>
        </div>
  
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-responsive-lg mb-0 table-striped">
                  <thead>
                  <tr>
                    <th>UserId</th>
                    <th>Id</th>
                    <th>title</th>
                    <th>body</th>
                  </tr>
                  </thead>
                  <tbody id="customers">
                  <tr class="btn-reveal-trigger" >
                    <td class="py-2">{{postId.userId}}</td>
                    <td class="py-2">{{postId.id}}</td>
                    <td class="py-2">{{postId.title}} </td>
                    <td class="py-2">{{postId.body}} </td>
                  </tr>
                  </tbody>
                </table>
                <br>
                <br>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>